<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>prjPAWICliContaWeb v0.1</display-name>
  <welcome-file-list>
    <welcome-file>principal.html</welcome-file>
    <welcome-file>principal.htm</welcome-file>
    <welcome-file>principal.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>Principal</display-name>
    <servlet-name>Principal</servlet-name>
    <servlet-class>web.Principal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Principal</servlet-name>
    <url-pattern>/Principal.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ListarClientes</display-name>
    <servlet-name>ListarClientes</servlet-name>
    <servlet-class>web.ListarClientes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarClientes</servlet-name>
    <url-pattern>/ListarClientes.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarCliente</display-name>
    <servlet-name>CadastrarCliente</servlet-name>
    <servlet-class>web.CadastrarCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarCliente</servlet-name>
    <url-pattern>/CadastrarCliente.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Voltar</display-name>
    <servlet-name>Voltar</servlet-name>
    <servlet-class>web.Voltar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Voltar</servlet-name>
    <url-pattern>/Voltar.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Salvar</display-name>
    <servlet-name>Salvar</servlet-name>
    <servlet-class>web.Salvar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Salvar</servlet-name>
    <url-pattern>/Salvar.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Editar</display-name>
    <servlet-name>Editar</servlet-name>
    <servlet-class>web.Editar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Editar</servlet-name>
    <url-pattern>/Editar.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VincularConta</display-name>
    <servlet-name>VincularConta</servlet-name>
    <servlet-class>web.VincularConta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VincularConta</servlet-name>
    <url-pattern>/VincularConta.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Redimensionar</display-name>
    <servlet-name>Redimensionar</servlet-name>
    <servlet-class>web.Redimensionar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Redimensionar</servlet-name>
    <url-pattern>/Redimensionar.do</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>Transacoes</display-name>
    <servlet-name>Transacoes</servlet-name>
    <servlet-class>web.Transacoes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Transacoes</servlet-name>
    <url-pattern>/Transacoes.do</url-pattern>
  </servlet-mapping>
</web-app>